@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width: 600px;
    background-color: #fff;
}

.v-popper__popper {
    font-size: 12px;
}

input:focus~label,
input:not(:placeholder-shown)~label,
textarea:focus~label,
textarea:not(:placeholder-shown)~label,
select~label {
    transform: scale(0.8) translateY(-1.3rem) translateX(0rem);
}

input~label,
textarea~label,
select~svg {
    transition: opacity .1s ease-in-out, transform .1s ease-in-out;
}

input,
textarea,
select {
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

select:focus~svg {
    transform: rotate(180deg);
}

button {
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.ad {
    margin: 0;
    transition: margin 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.show .ad {
    margin: 0 16px;
}
